<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Elgentos_RelatedBundles>
            <version>0.0.1</version>
        </Elgentos_RelatedBundles>
    </modules>
    <global>
        <blocks>
            <elgentos_relatedbundles>
                <class>Elgentos_RelatedBundles_Block</class>
            </elgentos_relatedbundles>
        </blocks>
        <helpers>
            <elgentos_relatedbundles>
                <class>Elgentos_RelatedBundles_Helper</class>
            </elgentos_relatedbundles>
        </helpers>
        <models>
            <elgentos_relatedbundles>
                <class>Elgentos_RelatedBundles_Model</class>
            </elgentos_relatedbundles>
            <catalog>
                <rewrite>
                    <product>Elgentos_RelatedBundles_Model_Catalog_Product</product>
                    <product_link>Elgentos_RelatedBundles_Model_Catalog_Product_Link</product_link>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <elgentos_relatedbundles_setup>
                <setup>
                    <module>Elgentos_RelatedBundles</module>
                    <class>Elgentos_RelatedBundles_Model_Resource_Setup</class>
                </setup>
            </elgentos_relatedbundles_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <elgentos_relatedbundles before="Mage_Adminhtml">Elgentos_RelatedBundles_Adminhtml</elgentos_relatedbundles>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <elgentos_relatedbundles>
                    <file>elgentos_relatedbundles.xml</file>
                </elgentos_relatedbundles>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <elgentos_relatedbundles>
                    <file>elgentos_relatedbundles.xml</file>
                </elgentos_relatedbundles>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <elgentos_relatedbundles_catalog_product_prepare_save>
                        <class>elgentos_relatedbundles/observer</class>
                        <method>catalogProductPrepareSave</method>
                    </elgentos_relatedbundles_catalog_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
            <catalog_model_product_duplicate>
                <observers>
                    <elgentos_relatedbundles_catalog_product_prepare_save>
                        <class>elgentos_relatedbundles/observer</class>
                        <method>catalogModelProductDuplicate</method>
                    </elgentos_relatedbundles_catalog_product_prepare_save>
                </observers>
            </catalog_model_product_duplicate>
        </events>
    </adminhtml>
</config>
